{%extends 'layout.html'%}

{%block content%}
      <!-- header -->
      <div class="page-header container">
            <div class="text-center h1">LVCS Tardiness & Absences Record</div>
    </div>
    

<!-- general reports -->
<div class="container center-block pull-right">
    <div class=""><div><h1>General Reports</h1></div>

         <div class="h4">Total number of students with absences: {{ totalAbsentees }}</div> 
         <div class="h4">Total  number of students with tardiness: {{ totalTardiness }}</div>
         <div class="h4">Student with most number of absences: {{mostAbsences}} with {{absencesCount}} absences</div>
         <div class="h4">Student with most number of tardiness: {{mostTardiness}} with {{tardinessCount}} tardiness</div>

    </div>
</div>
{%endblock%}
