{%extends 'layout.html'%}

{%block content%}
      <!-- header -->



            <div class="page-header container">
                        <div class="text-center h1">LVCS Tardiness & Absences Record</div>
                </div>
            
            <!-- general reports -->
            <div class="container center-block pull-right">
                <div><div><h1>General Reports</h1></div>
            
                     <div class="h4">Total number of students with absences: {{ totalAbsentees }}</div> 
                     <div class="h4">Total  number of students with tardiness: {{ totalTardiness }}</div>
                     <div class="h4">Student with most number of absences: {{mostAbsences}} with {{absencesCount}} absences</div>
                     <div class="h4">Student with most number of tardiness: {{mostTardiness}} with {{tardinessCount}} tardiness</div>
                     <div class="h4">Year Level with most number of Absences: {{ mostAbsencesName }}</div> 
                     <div class="h4">Year Level with most number of Tardiness: {{ mostTardinessName }}</div> 

                </div>
            
            
                <div id="chartContainer">
                      <h3>Absences And Tardiness Records Per Month</h3>
                      <div id="chartContainer"><canvas id="generalChart" width="600" height="300"></canvas></div>
                      <button class="btn btn-light perMonthAbsences">Absences</button>
                      <button class="btn btn-light perMonthTardiness">Tardiness</button>
            
                      <h3>Absences And Tardiness Records Per Level</h3>
                      <div id="chartContainer"><canvas id="perLevelChart" width="600" height="300"></canvas></div>
                      <button class="btn btn-light perLevelAbsences">Absences</button>
                      <button class="btn btn-light perLevelTardiness">Tardiness</button>

                      <h3>Absences And Tardiness Records Per Section</h3>
                      <div id="chartContainer"><canvas id="perSectionChart" width="1000" height="300"></canvas></div>
                      <button class="btn btn-light perSectionAbsences">Absences</button>
                      <button class="btn btn-light perSectionTardiness">Tardiness</button>
            </div>
 </div>
       
      <script>
      $(document).ready(function(){
                        // per month chart controller
            var generalChart = document.getElementById("generalChart").getContext('2d');
                var perMonth = new Chart.Bar(generalChart, {
                data: {
                labels:["January", "Febuary", "March", "April", "May", "June","July","August","September","October","November","December"],
                datasets: [{
                      label: "Total Number of Absences Per Month",
                      data: [{% for count in monthlyAbsences %}
                                  {{count}},
                            {% endfor %}],  
                      backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
                      borderWidth: 1
                      }]
                  },
                options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                      yAxes: [{
                      ticks: {
                beginAtZero:true
                            }
                            }]
                      }
                }
          
              })
          
          
              $(".perMonthAbsences").click(function(){
                      perMonth.data.datasets = [{
                      label: "Total Number of Absences Per Month",
                      data: [{% for count in monthlyAbsences %}
                                  {{count}},
                            {% endfor %}], 
                            backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","#3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
                 
                      borderWidth: 1
                      }]
                      perMonth.update()
          
              });
          
              $(".perMonthTardiness").click(function(){
                      perMonth.data.datasets = [{
                      label: "Total Number of Tardiness Per Month",
                      data: [{% for count in monthlyTardiness %}
                                  {{count}},
                            {% endfor %}], 
                            backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","#3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
                 
                      borderWidth: 1
                      }]
                      perMonth.update()
              })


      // per year level chart controller

      var perLevelChart = document.getElementById("perLevelChart").getContext('2d');
                var perLevel = new Chart.Bar(perLevelChart, {
                data: {
                labels:['Grade 1','Grade 2','Grade 3','Grade 4','Grade 5','Grade 6','Grade 7 ','Grade 8','Grade 9','Grade 10','Grade 11','Grade 12'],
                datasets: [{
                      label: "Total Number of Absences Per Level",
                      data: [{% for count in totalPerLevelAbsences %}
                                  {{count}},
                            {% endfor %}], 
                      backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","#3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
                      borderWidth: 1
                      }]
                  },
                options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                      yAxes: [{
                      ticks: {
                beginAtZero:true
                            }
                            }]
                      }
                }
          
              })
          
          
              $(".perLevelAbsences").click(function(){
                      perLevel.data.datasets = [{
                      label: "Total Number of Absences Per Level",
                      data: [{% for count in totalPerLevelAbsences %}
                                  {{count}},
                            {% endfor %}],   
                  backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","#3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
               
                      borderWidth: 1
                      }]
                      perLevel.update()
          
              });
          
              $(".perLevelTardiness").click(function(){
                      perLevel.data.datasets = [{
                      label: "Total Number of Tardiness Per Level",
                      data: [{% for count in totalPerLevelTardiness %}
                                  {{count}},
                            {% endfor %}],
                      backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","#3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
                      borderWidth: 1
                      }]
                      perLevel.update()
              })






              

              var perSectionChart = document.getElementById("perSectionChart").getContext('2d');
                var perSection = new Chart.Bar(perSectionChart, {
                data: {
                labels:[{% for item in sections %}
              "{{item}}",
            {% endfor %}],
                datasets: [{
                      label: "Total Number of Absences Per Level",
                      data: [{% for count in yearLevelSectionAbsences %}
                                  {{count}},
                            {% endfor %}], 
                      backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","#3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
                      borderWidth: 1
                      }]
                  },
                options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                      yAxes: [{
                      ticks: {
                beginAtZero:true
                            }
                            }]
                      }
                }
          
              })


      }) 

      </script>


{%endblock%}
