<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LVCS Absences & Tardiness Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script  src="/static/jquery-3.3.1.js"></script>
    <link rel = stylesheet type = text/css href="/static/bootstrap-3.3.7/dist/css/bootstrap.css">
    <script  src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <script  src="/static/chart.min.js"></script>
    <script src="\static\print.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->

    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fa-brands.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fa-regular.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fa-solid.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome.min.css">
   
    
</head>
<body>

<nav class="navbar navbar-inverse"">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">LVCS Absences & Tardiness Record</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/notifications">Notifications</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Elementary
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Grade 1<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {%for section in grade1%}
                                    <li><a href="/1/{{section[0]}}">{{section[0]}}</a></li>
                                {%endfor%}
                            </ul>
                    </li>
                    <li class="dropdown-submenu">
                            <a class="test" href="#">Grade 2<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {%for section in grade2%}
                                        <li><a href="/2/{{section[0]}}">{{section[0]}}</a></li>
                                    {%endfor%}
                                </ul>
                    </li>
                    <li class="dropdown-submenu">
                            <a class="test" href="#">Grade 3<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {%for section in grade3%}
                                        <li><a href="/3/{{section[0]}}">{{section[0]}}</a></li>
                                    {%endfor%}
                                </ul>
                    </li>
                    <li class="dropdown-submenu">
                            <a class="test" href="#">Grade 4<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {%for section in grade4%}
                                        <li><a href="/4/{{section[0]}}">{{section[0]}}</a></li>
                                    {%endfor%}
                            </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Grade 5<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {%for section in grade5%}
                                    <li><a href="/5/{{section[0]}}">{{section[0]}}</a></li>
                                {%endfor%}
                            </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Grade 6<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {%for section in grade6%}
                                    <li><a href="/6/{{section[0]}}">{{section[0]}}</a></li>
                                {%endfor%}
                            </ul>
                    </li>
                </ul>
                </li>
            <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">High School
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                    <a class="test" href="#">Grade 7<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {%for section in grade7%}
                                                <li><a href="/7/{{section[0]}}">{{section[0]}}</a></li>
                                            {%endfor%}
                                        </ul>
                                </li>
                                <li class="dropdown-submenu">
                                        <a class="test" href="#">Grade 8<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                {%for section in grade8%}
                                                    <li><a href="/8/{{section[0]}}">{{section[0]}}</a></li>
                                                {%endfor%}
                                            </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                            <a class="test" href="#">Grade 9<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    {%for section in grade9%}
                                                        <li><a href="/9/{{section[0]}}">{{section[0]}}</a></li>
                                                    {%endfor%}
                                                </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                                <a class="test" href="#">Grade 10<span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        {%for section in grade10%}
                                                            <li><a href="/10/{{section[0]}}">{{section[0]}}</a></li>
                                                        {%endfor%}
                                                    </ul>
                                            </li>
                    </ul>
            </li>
            <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Senior High
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                    <a class="test" href="#">Grade 11<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {%for section in grade11%}
                                                <li><a href="/11/{{section[0]}}">{{section[0]}}</a></li>
                                            {%endfor%}
                                        </ul>
                                </li>
                                <li class="dropdown-submenu">
                                        <a class="test" href="#">Grade 12<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                {%for section in grade12%}
                                                    <li><a href="/12/{{section[0]}}">{{section[0]}}</a></li>
                                                {%endfor%}
                                            </ul>
                                    </li>
                    </ul>
            </li>
          </ul>
          <div class="form-group">
          <form action= "/search" method= "POST"class="navbar-form navbar-left" action="/action_page.php">
              <input type="text" class="form-control" name="search" placeholder="Search" value="">
            <button type="submit" class="btn btn-default btn-success">Submit</button>
          </form>
          <form method="GET" action="/logout">
                <button type="submit" class="btn btn-default btn-warning" style=" margin-top:8px">Logout</button>
          </form>
        </div>
      </nav>



      {% block content %}
      {% endblock %}

    </body>
    </html>
    
    <style>
    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -1px;
    }</style>
    
    <script>
            $(document).ready(function(){

              $('.dropdown-submenu a.test').on("click", function(e){
                $('.dropdown-submenu>ul.dropdown-menu').hide();
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
              });
              
            });
            </script>
            