<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static\bootstrap-3.3.7\dist\css\bootstrap.css" rel="stylesheet" media="screen">
    <link href="static/bootsrap-3.3.7/dist/js/bootstrap.js" rel="stylesheet" media="screen">
</head>
  <body>
    <div class="container center_div col-md-5 col-md-offset-4 bg-info">
      <br>
      <div class="container center_div">
            <h1>Please login</h1>   
      <form action="/login" method="post">
        <table class="table">
            <tr>
                <td>
                    <input type="text" placeholder="Username" name="username">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" placeholder="Password" name="password">
                </td>
            </tr>
        </table>


        <input class="btn btn-default" type="submit">
      </form>
      <div><a href="/register">Register</a></div>
    </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>