{%extends 'layout.html'%}

{%block content%}

<div class="container">
    <div>
            <h1>{{month}} {{day}} {{year}}</h1>
    </div>

    <div><h2>Unsubmitted Absences Slips</h2>
        <table class="table col-md-2 table-striped">
            <thead>

                <th>Student Name</th>
                <th>Excuse</th>
                <th>Date Absent</th>
                <th>Date Finished</th>
                <th>Remarks</th>

            </thead>
            {%for row in unsubmitted%}
            <tr>
                    <td><a href="/{{row[6]}}/{{row[7]}}/{{row[0]}}">{{row[4]}}</a></td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[5]}}</td>
            </tr>
            {%endfor%}
        </table>

        <div><h2>For Referral to Advisor Due to Too Much Absences</h2>
            <table class="table col-md-2 ">
                <thead>
    
                    <th>Student Name</th>
                    <th>Year Level</th>
                    <th>Section</th>
                    <th>Tardiness Date</th>
                    <th>Tardiness Date</th>
                    <th>Tardiness Date</th>
                    <th>Referrals</th>


                </thead>
                {%for row in tooTardyStudents%}
                <tr>
                        <td><a href='/{{row[0][1]}}/{{row[0][2]}}/{{row[0][4]}}'>{{row[0][0]}}</a></td>
                        <td>{{row[0][1]}}</td>
                        <td>{{row[0][2]}}</td>
                    {%for record in row%}
                        <td>{{record[5]}}</td>
                    {%endfor%}
                        <td>{{row[0][3]}} time</td>
                </tr>
                {%endfor%}
            </table>
    </div>

    <div><h2>For Referral Due to Not Going to the OSA</h2>
        <table class="table col-md-2 ">
            <thead>

                <th>Student Name</th>
                <th>Year Level</th>
                <th>Section</th>
                <th>Offense Date</th>
                <th>Referrals</th>


            </thead>
            {%for rows in bypassedOSA%}
            {%for row in rows%}
            <tr>
                    <td><a href='/{{row[6]}}/{{row[7]}}/{{row[1]}}'>{{row[5]}}</a></td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                </tr>
                {%endfor%}
            {%endfor%}
        </table>
</div>





</div>

{%endblock%}