<html>
  <head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static\bootstrap-3.3.7\dist\css\bootstrap.css" rel="stylesheet" media="screen">
    <link href="static/bootsrap-3.3.7/dist/js/bootstrap.js" rel="stylesheet" media="screen">
</head>
  <body>
    <div class="container center_div col-md-4 col-md-offset-4">
      <br>
      <div class="container center_div col-md-10 bg-info">
            <h1>Please register</h1>
      <form action="/register" method="post">
        <table class="table">
            <tr>
                <td>
                    Username: <input type="text" placeholder="Username" name="username" required>
                </td>
            </tr>
            <tr>
                <td>
                        First Name: <input type="text" placeholder="First name" name="first_name" required>
                </td>
            </tr>
            <tr>
                <td>
                        Last Name: <input type="text" placeholder="Last name" name="last_name" required>
                </td>
            </tr>
            <tr>
                <td>
                        Role: <select name="role">
                                <option>OSA</option>
                                <option>Faculty</option>
                            </select>
                </td>
            </tr>
            <tr>
                <td>
                        Password: <input type="password" placeholder="Password" name="password" required>
                </td>
            </tr>
        </table>


        <input class="btn btn-default" type="submit">
      </form>
      <div><a href="/login">Login</a></div>
    </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>