<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = stylesheet type = text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel = stylesheet type = text/css href="{{ url_for('static', filename='jquery-3.3.1.js') }}">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fa-brands.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fa-regular.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fa-solid.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome.min.css">
   

    <title>{{section[]}}</title>
</head>
<!-- title part -->
<body class="body container">
        <div class="bg-primary">
                <div class=" display-3 text-white text-center container-fluid margin-left:mx-auto">LVCS Tardiness & Absences Record</div>
        </div>
<!-- sub title -->
        <div class="bg-light">
                <div class=" display-4 container-fluid margin-left:mx-auto">Elementary</div>
        </div>

<!-- search -->
        <div class="container">
                <form method = "POST" action = "search">
                        <div class="container">
                            <div class="input-group mx-auto col-md-8">
                
                                <input type="text" name="search" class="form-control" id="search" placeholder="Search"  style="margin-top:2%">
                
                                <div class="input-group-append" style="margin-top:2%">
                                    <button class="btn btn-info" type="submit"><i class="fas fa-search fa-lg text-white"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                    <div class=" col-md-4 dropdown" style="margin-top:2%">
                        <div class="display-4">{{level[0]}} {{section}}</div>

                    <table class="table">
                        <thead>
                            <th>Student</th>
                            <th>Absences</th>
                            <th>Tardiness</th>
                        </thead>
                            {%for student,absent in absencesCount.items()%}
                            <tr>
                                <td>{{student}}</td>
                                <td>{{absent}}</td>
                            </tr>
                            {%endfor%}
                    </table>

                    </div>

</body>

</html>
