{%extends 'layout.html'%}

{%block content%}
      <!-- header -->
<br>
<br>
<br>
<br>
<br>
      <div class="container">
            <div class="btn btn-warning" onclick="history.back(-1)" />Back</div>
            <div class="btn btn-primary" id="print" onclick="print()">Print to PDF</div>
            <div id="pdf-container">
            <div class="page-header container">
                        <div class="text-center h3">Grade {{level}}-{{section}}</div>
                        <div class="text-center h3">{{student[1]}}</div>
                </div>
            
                <div class="container">                
                      <h1>Absences</h1>
                      <table>
                            <tr>
                                  <td>
                                    {%if disable == 'disabled'%}
                                        <button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#recordAbsence{{student[0]}}" disabled>Record Absence</button>
                                    {%else%}
                                    <button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#recordAbsence{{student[0]}}">Record Absence</button>
                                    {%endif%}
                                  </td>
                                  <td>
                                      {%if disable == 'disabled'%}
                                        <button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#recordTardiness{{student[0]}}" disabled>Record Tardiness</button>
                                      {%else%}
                                        <button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#recordTardiness{{student[0]}}">Record Tardiness</button>
                                      {%endif%}
                                      </td>
                            </tr>
                      </table>
                  <table class="table table-striped table-hover">
                        <thead>
                              <th class="bg-primary">Date Absent</th>
                              <th class="bg-primary">Date Returned</th>
                              <th class="bg-primary">Excuse</th>
                              <th class="bg-primary">Days Absent</th>
                              <th class="bg-primary">Remarks</th>
                              <th class="bg-primary updateRemarks">Clear Student</th>
                        </thead>
                        {%for absence in absences%}
                              <tr>
                                    <td>{{absence[1]}}</td>
                                    <td>{{absence[2]}}</td>
                                    <td>{{absence[3]}}</td>
                                    <td>{{absence[4]}}</td>
                                    <td>{{absence[5]}}</td>
                                    <td>
                                      <form method="POST" action="/clearedReferral/{{absence[0]}}">
                                        <button class="btn btn-primary btn-lg center-block" >Clear</button>
                                      </form>
                                    </td>

                              </tr>
                        {%endfor%}
                        <tr>
                          <td>Total Absences: </td>
                          <td>{{totalAbsences}}</td>
                        </tr>
                  </table>
            
                  <h1>Tardines</h1>
                  <table class="table table-striped">
                        <thead>
                              <th class="bg-primary">Tardines Date</th>
                              <th class="bg-primary">Tardines Code</th>
                              <th class="bg-primary">Remarks</th>
                        </thead>
                        {%for tardy in tardiness%}
                              <tr>
                                    <td>{{tardy[0]}}</td>
                                    <td>{{tardy[1]}}</td>
                                    <td>{{tardy[2]}}</td>
                              </tr>
                        {%endfor%}
                        <tr>
                            <td>Total days Tardy:</td>
                            <td>{{totalTardiness}}</td>
                          </tr>
                  </table>

                  <div>
                      <h2>Referrals</h2>
                      <table class="table table-striped">
                        <thead>
                          <th>Reason</th>
                          <th>Date Referred</th>
                          <th>Referral Count</th>

                          </thead>
                        {%for referral in referrals%}
                        <tr>
                          <td>{{referral[2]}}</td>
                          <td>{{referral[3]}}</td>
                          <td>{{referral[4]}} referral</td>
                        </tr>
                        {%endfor%}
                      </table>
                    </div>

            </div>
<br>
<br>
<br>

                                    
<!--Record Absence Modal -->

<div class="modal fade" id="recordAbsence{{student[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <form method="post" action="/recordAbsence">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Record Absence</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="md-form mb-4">
                    <label>Student Name</label>
                  <input type="text" name = "studentId" value="{{student[0]}}" required hidden>
                  <div class="form-control"><label>{{student[1]}}</label></div>
                </div>
              </div>
              <div class="modal-body">
                <div class="md-form mb-4">
                    <label>Reason</label>
                  <input type="text" name = "reason" class="form-control" >
                </div>
              </div>
  
              <div class="modal-body">
                <div class="md-form mb-4">
                    <label>Date Absent</label>
                  <input type="date" name = "date_absent" class="form-control" >
                </div>
              </div>
  
              <div class="modal-body">
                <div class="md-form mb-4">
                    <label>Date Returned</label>
                  <input type="date" name = "date_returned" class="form-control" >
                </div>
              </div>
  
              <div class="modal-body">
                <div class="md-form mb-4">
                    <label>Number of Days Absent</label>
                  <input type="number" name = "days_absent" class="form-control" >
                </div>
              </div>
  
              <div class="modal-body">
                <div class="md-form mb-4">
                    <label>Remarks</label>
                  <input type="text" name = "remarks" class="form-control" >
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-info">Create</button>                </div>
          </div>
        </div>
      </div>
    </form>
    
     <!--Record Tardiness Modal -->
  
  <div class="modal fade" id="recordTardiness{{student[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="post" action="/recordTardiness">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Record Tardiness</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="md-form mb-4">
                <label>Student Name</label>
              <input type="text" name = "studentId" value="{{student[0]}}" required hidden>
              <div class="form-control"><label>{{student[1]}}</label></div>
            </div>
          </div>
  
          <div class="modal-body">
            <div class="md-form mb-4">
                <label>Date Tardy</label>
              <input type="date" name = "tardiness_date" class="form-control" required>
            </div>
          </div>
  
          <div class="modal-body">
            <div class="md-form mb-4">
                <label>Tardiness Code</label>
              <select name="tardiness_type" class="form-control" required>
             {%for type in tardinessTypes%}
             <option value="{{type[0]}}">{{type[1]}}</option>
             {%endfor%}
            </select>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-info">Create</button>                </div>
      </div>
    </div>
  </div>
  </form>

                <div id="chartContainer"><canvas id="generalChart" width="600" height="300"></canvas></div>
            <button class="btn btn-light absences">Absences</button>
            <button class="btn btn-light tardiness">Tardiness</button>
            
            

      </div>
</div>







    <script>



      $(".updateRemarks").click(function(){

      });






      var generalChart = document.getElementById("generalChart").getContext('2d');
      var myChart = new Chart.Bar(generalChart, {
      data: {
      labels:["January", "Febuary", "March", "April", "May", "June","July","August","September","October","November","December"],
      datasets: [{
            label: "Total Number of Absences Per Month",
            data: [{% for count in monthlyAbsences %}
                        {{count}},
                  {% endfor %}],   
            backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
               
            borderWidth: 1
            }]
        },
      options: {
      responsive: false,
      maintainAspectRatio: false,
      scales: {
            yAxes: [{
            ticks: {
      beginAtZero:true
                  }
                  }]
            }
      }

    })

    $(".absences").click(function(){
            myChart.data.datasets = [{
            label: "Total Number of Absences Per Month",
            data: [{% for count in monthlyAbsences %}
                        {{count}},
                  {% endfor %}], 
                  backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
                 
            borderWidth: 1
            }]
            myChart.update()

    });

    $(".tardiness").click(function(){
            myChart.data.datasets = [{
            label: "Total Number of Tardiness Per Month",
            data: [{% for count in monthlyTardiness %}
                        {{count}},
                  {% endfor %}],    
                  backgroundColor : ["#1d2951","#111e6c", "#000080","#1034a6","#0f52ba","#008ecc","#0080ff","#73c2fb","3fe0d0","#7ef9ff","#89cff0","#80dfes"],                
              
            borderWidth: 1
            }]
            myChart.update()
    })





      // $('#print').click(function () {
      //       return xepOnline.Formatter.Format('#pdf-container');
      // });

</script>

      




{%endblock%}
