{%extends 'layout.html'%}

{%block content%}
      <!-- header -->
      <div class="page-header container">
            <div class="text-center h3">{{student[1]}}</div>
    </div>
    
    <div class="container">
          <h1>Absences</h1>
      <table class="table table-striped">
            <thead>
                  <th>Date Absent</th>
                  <th>Excuse</th>
                  <th>Date Returned</th>
                  <th>Remarks</th>
            </thead>
            {%for absence in absences%}
                  <tr>
                        <td>{{absence[0]}}</td>
                        <td>{{absence[1]}}</td>
                        <td>{{absence[2]}}</td>
                        <td>{{absence[3]}}</td>
                  </tr>
            {%endfor%}
      </table>

      <h1>Tardines</h1>
      <table class="table table-striped">
            <thead>
                  <th>Tardines Date</th>
                  <th>Tardines Code</th>
                  <th>Remarks</th>
            </thead>
            {%for tardy in tardiness%}
                  <tr>
                        <td>{{tardy[0]}}</td>
                        <td>{{tardy[1]}}</td>
                        <td>{{tardy[2]}}</td>
                  </tr>
            {%endfor%}
      </table>

      <br>
      <br>
      <br>
      <br>
      <br>

      <!-- charts -->
      <div><canvas id="absences"></canvas></div>
      <div><canvas id="tardiness"></canvas></div>


      <script>
      
      var absencesData = [{% for count in monthlyAbsences %}
                              {{count}},
                        {% endfor %}]
      
      var tardinessData = [{% for count in monthlyTardiness %}
            {{count}},
      {% endfor %}]
 
      var absences = document.getElementById("absences").getContext('2d');
      var tardiness = document.getElementById("tardiness").getContext('2d');

      var myChart = new Chart(absences, {
          type: 'bar',
          data: {
              labels: ["January", "Febuary", "March", "April", "May", "June","July","August","September","October","November","December"],
              datasets: [{
                  label: '# of Absences',
                  data: absencesData,                  
                  borderWidth: 1
              }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                  yAxes: [{
                  ticks: {
            beginAtZero:true
                        }
                        }]
                  }
            }
 
      });


      var myChart = new Chart(tardiness, {
          type: 'bar',
          data: {
              labels: ["January", "Febuary", "March", "April", "May", "June","July","August","September","October","November","December"],
              datasets: [{
                  label: '# of Tardiness',
                  data: tardinessData,                  
                  borderWidth: 1
              }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                  yAxes: [{
                  ticks: {
            beginAtZero:true
                        }
                        }]
                  }
            }
 
      });
      </script>

      
    </div>



{%endblock%}
